<div class="row">
  <div class="col-md-7 col-sm-12">
    <div class="card">
      <%#       <div class="card-header">
        <h3 class="card-title">Asignaturas y Estudiantes</h3>
      </div> %>
      <div class="card-body p-0">
        <% if current_teacher.classrooms.count > 0 %>
          <table class="table table-hover" >
            <thead>
              <tr>
                <th>Curso</th>
                <th>Letra</th>
                <th>Asignatura</th>
                <th># Estudiantes</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_teacher.classrooms.each do |classroom| %>
                <tr data-widget="expandable-table" aria-expanded="false">
                  <td><%= classroom.level %></td>
                  <td><%= classroom.letter %></td>
                  <td><%= classroom.subject %></td>
                  <td><%= classroom.students.length %></td>
                  <td>
                    <div class="float-right">
                      <a href="<%= edit_classroom_path(classroom) %>" class="text-dark"><i class="fas fa-edit"></i></a>
                    </div>
                  </td>
                </tr>
                <tr class="expandable-body d-none">
                  <td colspan="5">
                    <% if classroom.students.length > 0%>
                      <ul class="list-group list-group-flush" style="display: none;">
                        <% classroom.students.each do |student| %>
                          <li class="list-group-item">
                            <%= student.name %> <%= student.last_name %>
                            <div class="float-right">
                              <a href="<%= student_path(student) %>" class="text-dark"><i class="fas fa-eye"></i></a>
                            </div>
                          </li>
                        <% end %>
                      </ul>
                    <% else %>
                      <ul class="list-group list-group-flush" style="display: none;">
                        <li class="list-group-item">Clase sin alumnos</li>
                      </ul>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
        <div class="p-4">
          <h4>
            No tienes ninguna asignatura asignada. <br/>
            <i class="text-muted">Asignate una clase en tu <a href="<%= edit_teacher_registration_path %>" class="text-navy">perfil</a>.</i>
          </h4>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-sm-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Tests Sociométricos</h3>
      </div>
      <div class="card-body">
        Aqui apareceran tus tests sociometricos.
      </div>
    </div>
  </div>
</div>
<%# =================================== %>
<% content_for :title do %>
  Panel de control
<% end %>
<% content_for :breadcrumb do %>
  <%= render :partial => "layouts/breadcrumb", locals: {path: [], current: "Inicio"} %>
<% end %>
