<% if !notice.blank? %>
  <div class="row">
    <div class="col-12">
      <div class="callout callout-success">
        <p><%= notice %></p>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-tools float-right">
          <a href="<%= edit_classroom_path(@classroom) %>" class="btn btn-outline-dark">
            <i class="fas fa-edit"></i>&nbsp;
            Editar
          </a>
          <a href="#" class="btn btn-danger confirmation" method=DELETE >
            <i class="fas fa-trash"></i>&nbsp;
            Eliminar
          </a>
        </div>
      </div>
      <div class="card-body p-0">
        <%= render @classroom %>
      </div>
    </div>
  </div>
</div>
<%# =================================== %>
<% content_for :title do %>
  <%= @classroom.subject %> <small class="text-muted"><%= @classroom.level %> <%= @classroom.letter %></small>
<% end %>
<% content_for :breadcrumb do %>
  <%= render :partial => "layouts/breadcrumb", locals: {path: [
    {path: root_path, name: "Inicio"},
    {path: classrooms_path, name: "Asignaturas"},
    ], current: "#{@classroom.subject}"} %>
<% end %>
