<div id="<%= dom_id student %>" class="row">
  <div class="col-lg-4 col-sm-12 p-4">
    <p><b>Nombre</b><br/>
      <h4><%= student.name %></h4>
    </p>
    <p><b>Apellido</b> <br/>
      <h4> <%= student.last_name %></h4>
    </p>
    <p><b>Nacimiento</b> <br/>
      <h4> <%= student.birthday %></h4>
    </p>
  </div>
  <div class="col-lg-8 col-sm-12 p-4">
     <% if student.classrooms.length > 0 %>
            <h4>Asignaturas:</h4>
              <ul class="list-group">
                <% student.classrooms.map do |c| %>
                  <li class="list-group-item">
                  <b><%= c.subject %></b> - <%= c.level %> <%= c.letter %>
                  <div class="float-right">
                      <a href="#" class="text-dark"><i class="fas fa-eye"></i></a>
                  </div>
                  </li>
                <% end %>
              </ul>
              <% else %>
              <h5>No pertenece a ninguna Asignatura</h5>
              <p>Vaya a la <a href ="<%= classrooms_path %>" class="text-navy">asignatura</a> al que quiera que pertenezca y añadalo desde ahi.</p>
              <% end %>
  </div>
</div>
