<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-tools">
          <a href="<%= new_student_path() %>" class="btn btn-block btn-outline-dark">
            <i class="fas fa-plus"></i>&nbsp;
            Añadir
          </a>
        </div>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Edad</th>
              <th>Clase</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @students.each do |student| %>
              <tr href="<%= student_path(student)%>" class="linkable" style="cursor: pointer;" >
                <td><%= student.id %></td>
                <td><%= student.name %></td>
                <td><%= student.last_name %></td>
                <td>~ <%= Date.today.year - student.birthday.year %> años</td>
                <td>
                  <% student.classrooms.map do |c| %>
                    <span class="badge bg-dark">
                      <%= c.level %> <%= c.letter %>
                    </span>
                  <% end %>
                </td>
                <td>
                  <div class="float-right">
                    <a href="<%= edit_student_path(student) %>" class="text-dark"><i class="fas fa-edit"></i></a>
                  </div>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%# Use with sidebar! %>
<% if current_page?('students_home') %>
<% end %>
<%# =================================== %>
<% content_for :title do %>
  Estudiantes
<% end %>
<% content_for :breadcrumb do %>
  <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
    <li class="breadcrumb-item active">Estudiantes</li>
  </ol>
<% end %>

<% content_for :custom_scripts do %>
  <script>
    $('.linkable').click(function(e){
      window.location = $(this).attr('href');
    });
  </script>
<% end %>
